<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Fashion</span>
                    <h1 class="mt-4">Elyse Maguire</h1>
                    <p class="p-des mt-3 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cumque dolorum illo, animi, quasi voluptates dignissimos quis fugit itaque impedit minima quaerat! Aspernatur provident sit, placeat saepe explicabo voluptates aperiam.</p>
                    <a href="#" class="p-readmore">Read More <img src="../../assets/img/arrow_right.png" alt="the icon for read more arrow" width="15" class="ml-2"></a>
                </div>
                <div>
                    <h6>Subscribe to tour Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email here" autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>